.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container > ul {
  list-style: none;
  display: flex;
}

.header-container > ul a {
  margin: 0 1em;
  text-decoration: none;
  color: rgb(114, 114, 114);
}

.header-container > ul a:hover {
  color: rgb(17, 17, 17);
}